Angular Learning 


> Written with [StackEdit](https://stackedit.io/).
# Angular Learning Notes 
**Getting Started** Video 1 Introduction.
learning what Angular is and how to use it.
# Video 2 What Is Angular?
Angular is a JavaScript Framework that allows you to create reactive Single-Page-Applications (SPAs).
It's one HTML file and a bunch of code from the server. Everything is rendered in the browser.
Everything happens instantly. 
JavaScript changes the DOM of that one page. 

# Angular vs Angular 2 vs Latest Version
Angular JS different version, works differently, 
2016 - Angular 2 with new framework.
Versions 4 up to 15 are on the same framework. New release every 6 months. Minor changes each time. Stable program.
Can ignore the versions.

# Video 4 Angular Setup & First App
Installing all the software in the terminal of VS Code. Node JS works behind the scenes and the npm is required to make things work.
Start in new folder/terminal/ 
ng new //name it my-first-app// --no-strict
ng serve to go to http://localhost:4200/
# Join Online Learning Community 
done  gmail address, skeet9037 

# Video 5 Working in VS Code
This is the most frustrating thing ever! Office Hours and Code Coach Mike saved the day!
I'm up and working on my first App, but there's a lot to learn. 
I had a very frustrating time with this first try at Angular, I took advantage of Office Hours twice, and I learned a lot. But I am not confident that I can do the next one easily.
//=========================================================================# Video 6 The Course Structure

# Video 6 The Course Structure
In the next section of the course (Basics) we will learn what we did in building the first app and how all the files are connected to each other (there are a LOT of files).
**Components** - apps are built from components
**Two Way Data Binding** - how data is outputted in the app or how it reacts to user  events
**Directives** - ng models are directives. Instructions placed in templates or html code
**Services & Dependency Injection** - how different parts of code work together
**Routing** -  manages different urls so that the user thinks they are going to different pages, although Angular is a single page app
**Observables** - working with asynchronous code
**Forms** - key components of web pages - user input
**Pipes** - tranforms output 
**Http** - connecting  to servers or for storing information in data base
**Authentication** - What does it mean, how does that work? 
**Optimizations and ngModules**- managing different modules.
**Deployment** - making our apps live
**Animations & Testing** - 

We will build an actual project through the class work.
// ===============================
# Video 7 How To Get The Most Out of the Course
**Watch videos**, take notes, code along, 
**do the assignments** to see if you understand a concept.
**Do course project!**
**Use Q & A section**. Ask questions, try to help other students. 
Think about the questions and see if you can answer them yourself.
**Google is your best friend!** 
Most questions are not new. 
//==================================
# Video 8 What is TypeScript?
A superset to JavaScript.
You define strings, numbers, etc. Has Types, Classes, Interfaces, etc.
Robust code checked while you write it.
Does not run in the browser, so converted to JS. 
Angular works together with TypeScript.
//==================================
# Video 9 A Basic Project Setup using Bootstrap for Styling
In the course, the instructor will often start with a new project by using the 
**ng new  nameWithNoSpaces --no-strict** 
The app.component. html file will typically be empty. If not, there will be a file to find the starting code. 
If you added the Forms Module in the apps.module.ts file, remove it, and names, etc. added to app.component.ts

Install the bootstrap css  file to the project by typing command + C in the terminal.
Run **npm install --save bootstrap@3** to save locally in the current project. 

in angular.css file, add bootstrap under 
"styles":
**"node_modules/bootstrap/dist/css/bootstrap.min.css"'**
Run **ng serve**
**open localhost:4200** - nothing will show since the html file is empty! **Open dev tools.** Check Styles.css to see that bootstrap is included.
//================================
# The Academind Pro Referral Program
Save yourself and a friend 25%!
//================================
//================================


**The Basics**


# Video 10 Module Introduction
Learning what Angular does and how the parts work together. 
We start with what looks like a blank page on the screen. (localHost 4200). 

==================================================
# Video 11 How an Angular App gets Loaded and Started.

https://files.slack.com/files-pri/T7C870AKS-F05UMGFHMA5/image.png
image shared by Sarah Sanger 

The developer server hosts our Angular Application. (**ng serve)**
Content can be changed in the **app.component.html** file in the **app folder** under the **src** tag.
Bootstrap has been added at the beginning.
The **index.html** file is the one that the server uses. It pulls from the src component folders.

<app-root></app-root> is a component built in the **src app folder**
@Component
selector: 'app-root'

Angular is triggered by the script imports added automatically. index.html is 1st code to be executed. 
**(main.ts)** platformBrowserDynamic().bootstrapModule(AppModule);
**(app.module.ts)**
@NgModule({
declarations: [
AppComponent ], 
providers: []
bootstrap: [AppComponent]
*Angular understands the selector and puts the correct component on the screen.*

================
# Video 12 Components are Important!  
 
The entire application is built on components. The root component is the "container" where we "nest" our components.
**header
main area
sidebar**
Each component has it's own template, html, styling, own business logic.
Split up complex application into reusable parts. You can use a component more than once and replicate the style, etc. 

========================
# Video 13 Create a New Component

import { Component } from `@angular/core`;
@Component({
selector: 'app-root',
templateUrl: './app.component.html',
styleUrls: ['./app.component.css'] 
})
export class AppComponent {
}
app.module.ts has the bootstrap instructions. 
Selectors will not be added to the index.html file, but to the app.component.html file.

Build a backend for our server management application- add new file to src/  app /directory/ create **server** folder
**A good practice is to name your folder the same as your component name.**
Each component should have its own folder.
NAMING CONVENTION
server.component.ts
A component is a class, and Angular is able to instantiate it and use it to build objects.
****in server folder*** attach **Decorator @**
//create server.component.html//

import { Component } from '@angular/core';
@Component({
   selector: 'app-server' //js object stored as metadata//
   templateUrl: './server,component.html'
)
export class ServerComponent {}

//================================
# Video 14 Understanding the Role of AppModule and Component Declaration

AppModule bundles the different parts into packages.
**app.module.ts file** // decorator is the @

import { BrowserModule } from '@angular/platform-browser';
import { NgModule } from '@angular/core';
import { FormsModule } from 'angular/forms';
import { HttpModule } from '@angular/http';

import { AppComponent } from './app.component';
import { ServerComponent } from './server/server.component';

@NgModule9{
declarations: [
AppComponent,
ServerComponent
],
imports: [
BrowserModule,
FormsModule,
HttpModule
],
providers: [],
bootstrap: [AppComponent]
})
export class AppModule { }
//===============================================
# Video 15 Using Custom Components
In app.component.html file
app-server
<h3>I'm in the AppComponent!</h3>
<hr>
<app-server></app-server>

//==============================================

# Video 16 Creating Components the the CLI & Nesting Components
In a new terminal window - leave the CLI open!
ng generate component servers (ne folder in app/server)

in servers component folder, override the default text 
<app-server></app-server>
<app-server></app-server> // can use as many as we want

update app.module.ts if not automatic
in servers.componwents.ts for app.servers
in app.components.html and update selector to servers
//================================================

# Video 17 Working with Component Templates
servers.components.ts must have a templateUrl: for external link, or template: '<app-server>
//more than 3 lines of code needs url
</app-server> for inline (don't wrap!
use backtics for JS 
//============================================

# Video 18 Working with Component Styles
in app.component.html, add some bootstrap code

<div class="container">
<div class="row">
<div class="col-xs-12">
</div>
</div>
</div>

in app.component.css file to override code
h3
h3 {
color: darkblue;
}

In app.components.ts,  change styles by comementing out the stylesUrls:
styles: [` //backtic
h3 {
color: dodgerblue;
}
`// backtic]

//==============================================

# Video 19 Fully Understanding the Component Selector

<app-root>   <servers> @Componentss  [ to select attributes]
can do <div app-servers></div>

in servers.components.ts, comment out selector:  to select by class
selector:`.app-server></app-server>, then in app.components.html,
<div class+"app-servers"></div>
selecting by id does not work in angular common usage is tocreate elements, and use this
selector: `app-servers`

//==================================================
# Video 20 Assignment: Component Basics Problem
1 Create 2 new Components (manually or  with CLI): 
WarningAlert and SuccessAlert
2 Output them beneath each other in the AppComponent
3 Output a warning or success message in the Components
4 Style the Components appropriately with red and green text
Use external or internal templates and styles!

//==================================================
# Video 21 Assignment Solution
Manually create in Directory / New Directory / WarningAlert / new file warning-alert.component.ts. In that file, create 

import { Component } from '@angular/core';

@Component(
selector: "app-warning-alert",
template: `
<p>This is a warning...!</p>`
{) 
export class WarningAlertComponent { 

}

Using CLI in terminal

ng g c success-alert which creates the folders for you/delete the test 

in success-alert.html  <p>
You are so successful!
<p>

In app.component.html.
<div class='container'>
<div class="row
<div class='col-xs-12">
<ol>
<li>create 2 components...</li>
<li>Output them ...appComponent<
<li>Style red and green text<
</ol>
,p> use external or internal templates and styles<
<p> feel free to create more , or nest, ...<
<hr>
<app-warning-alert><
<app-success-alert><
div
div
div
error messages - warning alert - not a known element

app.module.ts.
add import { WarningAlertComponent } from `./warning-alert/warning-alert.component`;

WarningAlertComponent. under NgModule declarations

Inline in warning-alert.component 
styles: [
p {
padding: 20px;
background color: mistyrose;
border: 1px solid red;
} //copy and paste with changes in the success-alert.components.css

# Video 22 What is Databinding?

Databinding is dynamic data, not hardcoded into the template.
Communication between TS code and The Template that the user sees. OUTPUT DATA
String Interpolation ( {{ data }} )
Property Binding ( [property] = "data" ) square brackets around html
REACT TO USER  EVENTS
Event Binding ( (event) = 'expression" )
TWO_WAY BINDING ( [(ngModel)] ="data")
//=================================================
# Video 23 String Interpolation

 Server component.ts
 export class ServerComponent {
 serverId = 10;
 serverStatus: = 'offline';
 getServerStatus() {
 return this.serverStatus;
}
}

server.component.html //double {{}} string interpolation must return a sting.
<p>Server with ID {{ serverId  }} is  {{ serverStatus () }}</p>
A tool for outputting data in a template.
//=================================================

# Video 24 Property Binding
[] tell Angular that we want to bind property in html, directives, or components so that we can update dynamically. Very easy to interact with DOM at runtime.
In servers.components.html

<button class="btn btn-primary">Add Server</button>
[disabled]=""!>Add Server</button>

In servers.component.ts
templateUrl: './servers.component.html',

export class ServersComponent implements OnInit {
allowNewServer = false; //boolean

constructor() {
setTimeout(() => {
this.allowNewServer = true;
}, 2000);

ngOnInit() {

}
}

//================================================

# Video 25 Property Binding vs String Interpolation
in server.components.htlm
<button
class="btn btn-primary"
[disabled]=!"allowNewServer">Add Server</button>
<p>{{ allowNewSeerver }}</p>

a boolean can be cast into a string.
OR we could use property binding 
<p> {innerText}="allowNewServer"></p>

When to use which??? If you want to output something as text, use string interpolation. If you want to change some property using html or a directive, use property binding.
**Don't mix the two!**  Adding string interpolation to property binding breaks it.

//=================================================
# Video 26 Event Binding
() used for event binding.

servers.components.ts/export Class/under allowNewServer = false
serverCreation/status = "No server was created.";

servers.components.html
  (click)="onCreateServer()>Add Server,/button>
<p>{{ serverCreationStatus }}</p>

servers.components.ts/ underneath ngOnInit/
onCreateServer() {
this.serverCreationStatus = "Server was created!";
}

How do you know to which Properties or Events of HTML Elements you may bind? You can basically bind to all Properties and Events - a good idea is to  `console.log()` the element you're interested in to see which properties and events it offers.

**Important**: For events, you don't bind to onclick but only to click (=> (click)).

The MDN (Mozilla Developer Network) offers nice lists of all properties and events of the element you're interested in. Googling for  `YOUR_ELEMENT properties` or  `YOUR_ELEMENT events` should yield nice results.
//=================================================
# Video 27 Passing and Using Data with Event Binding



# Projecting Content into components with ng-content

Complex html code that we want tp pass into the component from outside. server-element template add <ng-content></ng-content> is a hook to tell angular to add information between opening and closing tags.
//==================================================
# Understanding the Component Lifecycle
ngOnInit() { } is a lifecycle hook. when a new component is instantiated, it goes through a few phases.
ngOnChanges
ngOnInit
ngDoCheck
ngAfterContentInit
ngAfterContentChecked
ngAfterViewInit
ngAfterViewChecked
ngOnDestroy

//================================================== 

# Seeing Lifecycle Hooks in Action
server.elements.ts
in the constructor () {
console.log(constructor called!);
}
implement the needed hooks and import them from `@angular/core;

export class ServerElementComponent

Each one of the lifestyle hooks must be set up, and it's complicated. Max says we don't use this often.
//==============================================
# Lifecycle Hooks and Template Access
@viewChild property 
nativeElement

==================================================
# Wrap Up
Practice what we've learned.
=========================
# Assignment: Components & Databinding (Problem)
Creating a gameControl, Odd and Even components that have buttons to start and stop. 8 steps using things we've learned.
#=============================================

# Assignments Solution

Max demos one way to solve the problem.

//==================================================
Course Project - Components and Databinding
=========================
# Introduction
we gained a lot of new knowledge and will now use it in the recipe app.
//==================================================

# Adding Navigation with Event Binding and ngIf

hook up navigation to load either recipes or shopping list.
we will learn a better way later on. It takes several steps.
(I don't really understand why we learn less good ways to do something. It's frustrating!) 

//=============================================
# Passing Recipe Data with Property Binding
recipe.item.ts set u to pass recipe from outside.
add decorator @Input()
*ngFor="let recipeElof recipes"
[recipe]="recipeEl

=================================================
# Passing Data with Event and Property Binding (Combined)
inform [parent component that a particular recipe was selected
recipeSelected  = new EventEmitter<void>()
Don't forget to import from 
*ngFor

//================================================
# Allowing the User to Add Ingredients to the Shopping List
import { FormsModule } from '@angular/forms';
   imports: [ FormsModule ] // add this to the other imports!    
})
...add as little logic as possible into your template. 

#nameInput and #amountInput
click listeners
use const instead of let for onAddItem

=================================================================================================
# Directives Deep Dive
==============================================
# Module Introduction

looking at directives and build our own
**Attribute Directives** sit on elements and look like a normal HTML Attribute (possibly with databinding or event binding), and only affect or change the element they are added to.
and **Structural Directives** sit on elements and change the DOM. They look like a normal HTML Attribute, but have a leading * for desugaring, and affect a whole area in the DOM adding or removing elements.
//==================================================

# ngFor and ngIf reacap

can combine on the same element

===========================
# ngClass and ngStyle Recap

===========================================

# Creating a Basic Attribute Directive

create  new element called basic-highlight directive.ts

import { Directive, ElementRef, OnInit } from 'angular/core';
@Directive({
selector: '[appBasicHighlight]'
})
export class BasicHighlightDirective implements OnInit {
constructor(private elementRef: ElementRef) {
}
ngOnInit() {
this.elementRef.nativeElementstyle.backgroundColor = 'green';
}
}

And, in app.modules.ts
 add import { BasicHighlightDirective } from './basic-highlight/basic-highlight.directive;
and under @NgModule add BasicHighlightDirective

And in app.component.html. add under the last list div,<p appBasicHighlight>Style me with basic directive!</p>

//===========================================

# Using a Renderer to Build a Better Attribute Directive

Angular can render a template without a DOM.
create a new directive ng g c better-highlight.ts

import { Directive, Renderer2, ElementRef, OnInit } from 'angular/core';
@Directive({
selector: '[appBetterHighlight]'
})
export class BetterHighlightDirective implements OnInit {
constructor(private elRef: ElementRef, private renderer: Renderer2) {
}
ngOnInit() {
this.renderer.setStyle(this.elRef.nativeElement, 'backgound-color', 'blue')
}
}

And, in app.modules.ts
 add import { BasicHighlightDirective } from './basic-highlight/basic-highlight.directive;
and under @NgModule add BetterHighlightDirective

And in app.component.html. add under the last list div,<p appBetterHighlight>Style me with basic directive!</p>

==========================================

# Using HostListenr to Listen to Host Events

React to events

import { Directive, Renderer2, ElementRef, OnInit, HostListener  } from 'angular/core';
@Directive({
selector: '[appBetterHighlight]'
})
export class BetterHighlightDirective implements OnInit {
constructor(private elRef: ElementRef, private renderer: Renderer2) {
}
ngOnInit() {

}
@HostListener('mouseenter') mouseover(eventData: Event) {
this.renderer.setStyle(this.elRef.nativeElement, 'backgound-color', 'blue', false, false');
}
@HostListener('mouseleave') mouseleave(eventData: Event) {
this.renderer.setStyle(this.elRef.nativeElement, 'backgound-color', 'transparent', false, false');
And, in app.modules.ts
 add import { BasicHighlightDirective } from './basic-highlight/basic-highlight.directive;
and under @NgModule add BetterHighlightDirective

And in app.component.html. add under the last list div,<p appBetterHighlight>Style me with basic directive!</p>

==================================================

# Using HostBinding to bind to Host Properties
a good way to work with an element from within a directive

import { Directive,
 Renderer2,
 ElementRef, 
 OnInit, 
 HostListener, 
 HostBinding 
  } from 'angular/core';
  
@Directive({
selector: '[appBetterHighlight]'
})
export class BetterHighlightDirective implements OnInit {
@HostBinding('style.backgroundcolor') backgroundColor: string = 'transparent';
constructor(private elRef: ElementRef, private renderer: Renderer2) {
}
ngOnInit() {

}
@HostListener('mouseenter') mouseover(eventData: Event) {
this.backgrooundColor = 'blue";
}
@HostListener('mouseleave') mouseleave(eventData: Event) {
this.backgrouondColor = 'transparent';
And, in app.modules.ts
 add import { BasicHighlightDirective } from './basic-highlight/basic-highlight.directive;
and under @NgModule add BetterHighlightDirective

And in app.component.html. add under the last list div,<p appBetterHighlight>Style me with basic directive!</p>

==============================================

# Binding to Directive Properties
using custom property binding

import { Directive,
 Renderer2,
 ElementRef, 
 OnInit, 
 HostListener, 
 HostBinding, 
 Input
  } from 'angular/core';
  
@Directive({
selector: '[appBetterHighlight]'
})
export class BetterHighlightDirective implements OnInit {
@Input() defaultColor: string = 'transparent';
@Input() highlightColor: string 'blue';
@HostBinding('style.backgroundcolor') backgroundColor: string;

constructor(private  ElementRef, private  RendererV2) {
}
ngOnInit() {
this.backgroundColor = this.defaultColor
}
@HostListener('mouseenter') ( Event) {
this.backgrooundColor = this.highlightColor;
}
@HostListener('mouseleave') ( Event) {
this.backgrouondColor = this.defaultColor;

And, in app.modules.ts
 add import { BasicHighlightDirective } from './basic-highlight/basic-highlight.directive;
and under @NgModule add BetterHighlightDirective

And in app.component.html. add under the last list div,<p appBasicHighlight>Style me with basic directive!</p>
<p appBetterHighlight [defaultColor]=" 'yellow'" [highlightColor}= "'red'">Style me with a better directive!</p>


===================================================

# What Happens Behind the Scenes on Structural Directives

why the * is needed - angular reads it as a structural directive

=================================================

# Building a Structural Directive

create an unless.directive.ts folder

import { Directive, Input. TemplateRef, ViewContainerRef } from 'angular/core';

@Directive({
selector: '[appUnless]'
])

export class UnlessDirective {
@Input() set unless(condition: boolean) {
if (!condition) {
this.vcRef.createEmbeddedView(this.templateRef);
} else {
this.vcRef.clear();
}
}
constructor(private templateRef: TemplateRef<any>m private vcRef: ViewContainerRef) ) { }
}

in app.component.html
class="list-group-item"
[ngClass}="{odd: odd% 2 !== 0}"
[ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}"
*ngFor="let odd of oddNumbers">
{{ odd}}

<div *appUnless="onlyOdd">
<li
class="list-group-item"
[ngClass]="{pdd: even % 2 !== 0}"
[ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"
*ngFor="let even of evenNumbers">
{{ even }}

==================================================

# Understanding ngSwitch
when we have value, can only show one value at a time
<p *ngSwitchCase=" ">

================================================
Course Project - Directives
=========================

# Building and Using a Dropdown Directive

in shared folder, add dropdown.directive.ts
import { Directive } from '@angular/core':

@Directive({
selector: '[appDropdown]'
}
export class DropdownDirective {
@HostBinding('class.open') isOpen = false;
@HostListener('click") toggleOpen()
this.isOpen = !this.isOpen
}
}

In app.module.ts
add the DropdownDirective to the declarations
and add the import { 

and add in the header html file <li class="dropdown" appDropdown>

==================================================
**Using Services and Dependency Injection**

# Module Introduction
services are another class that can store and manage data.

# Why Would You Need Services?

to log and store data and communicate between components

# Creating a Logging Service

a service to log data is created in the new-account folder called logging.services.ts
export class LoggingService {
logStatusChange(status: string)
console.log('A server status changed, new status: ' + status);
}}
in new-accounts.components.ts

# Injecting the Logging Service into Components

Hierarchiacal Injector

logging.services.ts
export class LoggingService {
logStatusChange(status: string)
console.log('A server status changed, new status: ' + status);
}}
in new-accounts.components.ts

import { LoggingService ) from '../logging.service'; 
constructor(private  loggingService: LoggingService) {
}
Add to @Component 
providers: [LoggingService]

this.loggingService.logStatuschange(accountStatus); 

//add constructor to account.components.ts and imports logging service, and provider

==================================================
# Creating a Data Service

to store and manage data in accounts service.ts

# Understanding the Herarchiacal Injector

use services in the right way!
